# Relational Model (UMD DATA605)

This notebook presents the **relational model** concepts extracted from the lecture PDF: definitions, primary & foreign keys, and simple examples executed with SQLite in Colab.

In [1]:
# Setup for running SQL cells in Colab
# Run this cell first in Colab. It installs ipython-sql and connects to a local SQLite database.
# In Colab, you may need to restart the runtime once after installation, but usually this works in one go.
!pip install -q ipython-sql sqlalchemy
%load_ext sql
# Create a local sqlite database file so the data persists within the Colab session
%sql sqlite:///relational_db.sqlite

[notice] A new release of pip is available: 25.1.1 -> 25.2
[notice] To update, run: pip install --upgrade pip

## Relational Model: Overview

- Introduced by Ted Codd.
- A relational DB consists of a collection of tables (relations).
- Each table has a schema and rows (tuples).

### UML / Schema diagrams

Insert the UML diagram(s) referenced in the slides below (placeholder):

![UML Diagram: University DB](# "Insert UML diagram of University DB here")

> Replace the placeholder above with an image file using Colab file upload or a URL.

## Primary Key and Foreign Key examples

We will create three simple tables: `department`, `instructor`, and `course`. The `instructor` table uses `id` as primary key and references `department` via `dept_name` (a foreign key).

In [2]:
%%sql
-- Create tables: department, instructor, course
CREATE TABLE IF NOT EXISTS department (
    dept_name TEXT PRIMARY KEY,
    building TEXT,
    budget INTEGER
);

CREATE TABLE IF NOT EXISTS instructor (
    id INTEGER PRIMARY KEY,
    name TEXT NOT NULL,
    dept_name TEXT,
    salary INTEGER,
    FOREIGN KEY(dept_name) REFERENCES department(dept_name)
);

CREATE TABLE IF NOT EXISTS course (
    course_id TEXT PRIMARY KEY,
    title TEXT,
    dept_name TEXT,
    credits INTEGER,
    FOREIGN KEY(dept_name) REFERENCES department(dept_name)
);

 * sqlite:///relational_db.sqlite
Done.
Done.
Done.

[]

In [3]:
%%sql
-- Insert sample data into department, instructor, and course
INSERT OR IGNORE INTO department VALUES ('Computer Science','Hampden', 500000);
INSERT OR IGNORE INTO department VALUES ('Physics','Maxwell', 300000);
INSERT OR IGNORE INTO department VALUES ('Music','Britten', 150000);

INSERT OR IGNORE INTO instructor VALUES (1, 'Alice Smith', 'Computer Science', 90000);
INSERT OR IGNORE INTO instructor VALUES (2, 'Bob Jones', 'Physics', 80000);
INSERT OR IGNORE INTO instructor VALUES (3, 'Carol Lee', 'Music', 70000);

INSERT OR IGNORE INTO course VALUES ('DATA-605','Big Data Systems','Computer Science',4);
INSERT OR IGNORE INTO course VALUES ('PHYS-101','Intro Physics','Physics',3);
INSERT OR IGNORE INTO course VALUES ('MUS-200','Advanced Music','Music',3);

 * sqlite:///relational_db.sqlite
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Inspect tables

In [4]:
%%sql
SELECT * FROM department;

 * sqlite:///relational_db.sqlite
Done.

KeyError: 'DEFAULT'

In [ ]:
%%sql
SELECT * FROM instructor;

In [ ]:
%%sql
SELECT * FROM course;

## Notes
- `PRIMARY KEY` must be unique and non-null.
- `FOREIGN KEY` ensures referential integrity: values must match an existing primary key value in the referenced table.
- In SQLite, foreign key enforcement is disabled by default for older versions; modern builds used in Colab enable it, but you can enable explicitly with `PRAGMA foreign_keys = ON;` if needed.

In [ ]:
%%sql
PRAGMA foreign_keys = ON;