In [1]:
# PyCaret.API.ipynb

from PyCaret_utils import CoinGeckoAPI, fetch_and_validate_data
import pandas as pd

# Initialize API wrapper
cg = CoinGeckoAPI()

# Fetch and display the data
btc_data = fetch_and_validate_data(cg, days=30)
btc_data.head()

INFO:PyCaret_utils:Fetched 180 records.
INFO:PyCaret_utils:Data shape after processing: (180, 7)

,open,high,low,close,daily_return,volatility_7d,volume_ema_14
timestamp,,,,,,,
2025-04-17 04:00:00,84059.0,84410.0,83900.0,83989.0,NaN,NaN,83989.000000
2025-04-17 08:00:00,83999.0,84902.0,83920.0,84675.0,0.008168,NaN,84356.500000
2025-04-17 12:00:00,84657.0,84711.0,84288.0,84636.0,-0.000461,NaN,84463.269949
2025-04-17 16:00:00,84617.0,84791.0,83915.0,84534.0,-0.001205,NaN,84484.908267
2025-04-17 20:00:00,84521.0,85377.0,84521.0,84775.0,0.002851,NaN,84560.592756