# BitcoinCausal.API.ipynb

This notebook demonstrates the usage of the data ingestion and preparation functions defined in `M_BitcoinCausal_utils.py`. It shows how to:

- Fetch and store Bitcoin price data
- Append live price
- Inject a dummy event
- Compute a confounder for analysis

In [1]:
from M_BitcoinCausal_utils import (
    fetch_historical_prices,
    append_live_price_to_csv,
    load_bitcoin_data,
    inject_multiple_dummy_events,
    compute_lagged_confounder
)

In [2]:
fetch_historical_prices(days=30)

[INFO] Fetching last 30 days of Bitcoin data...
[INFO] Saved historical data to data/raw_bitcoin.csv

In [3]:
append_live_price_to_csv()

[INFO] Fetched live price: {'timestamp': datetime.datetime(2025, 5, 18, 2, 53, 16, 188580), 'price': 103331}
[INFO] Appended live price to data/raw_bitcoin.csv

In [4]:
df = load_bitcoin_data()
df.tail()

                     timestamp          price
716 2025-05-18 00:06:32.399000  103194.656506
717 2025-05-18 01:04:54.044000  103327.244818
718 2025-05-18 02:04:49.672000  103267.637503
719 2025-05-18 02:53:01.000000  103332.836110
720 2025-05-18 02:53:16.188580  103331.000000

In [5]:
# Choose one timestamp (e.g., 10 rows before the end)
event_time = df["timestamp"].iloc[-10]
df = inject_multiple_dummy_events(df, [event_time])
df[df["event"] == 1]

[INFO] Injected 1 dummy event(s) at: [Timestamp('2025-05-17 19:04:11.011000')]

                  timestamp          price  event
711 2025-05-17 19:04:11.011  103150.848513      1

In [6]:
df = compute_lagged_confounder(df)
df[["timestamp", "price", "confounder"]].tail()

[INFO] Confounder (lagged price) added.

                     timestamp          price     confounder
716 2025-05-18 00:06:32.399000  103194.656506  103058.426620
717 2025-05-18 01:04:54.044000  103327.244818  103194.656506
718 2025-05-18 02:04:49.672000  103267.637503  103327.244818
719 2025-05-18 02:53:01.000000  103332.836110  103267.637503
720 2025-05-18 02:53:16.188580  103331.000000  103332.836110